header{
    background-color: gray;
    border: 5px chartreuse;
    width: 770px;
    height: 200px;
    margin: 5px;
    border-radius: 10px;
}

main{
    width: 780px;
    height: 400px;
    background-color: aquamarine;
    border-radius: 10px;
}

nav{
    background-color: cornflowerblue;
    width: 150px;
    height: 390px;
    float: left;
    margin: 5px;
    border-radius: 10px;
}

section{
    background-color: green;
    width: 450px;
    height: 390px;
    float: left;
    margin: 5px;
    border-radius: 10px;

}

#primero{
    background-color: white;
    width: 440px;
    height: 120px;
    float: left;
    margin: 5px;
}

#segundo{
    background-color: red;
    width: 440px;
    height: 120px;
    float: left;
    margin: 5px;
}

#tercero{
    background-color: blue;
    width: 440px;
    height: 120px;
    float: left;
    margin: 5px;
}

aside{
    background-color: lightblue;
    width: 150px;
    height: 390px;
    float: left;
    margin: 5px;
    border-radius: 10px;
}

footer{
    background-color: yellow;
    width: 770px;
    height: 100px;
    margin: 5px;
    border-radius: 10px;
}

